@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  font-family: "Montserrat";
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f222d !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.form-control {
  background: rgb(23, 51, 68) !important;
  border-radius: 0 !important;
  padding: 8px !important;
  color: #ffffff !important;
}

.form-control:focus {
  border-color: initial !important;
}

button.disabled {
  cursor: not-allowed;
}
