* {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f222d !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.form-control {
  background: rgb(23, 51, 68) !important;
  border-radius: 0 !important;
  padding: 8px !important;
  color: #ffffff !important;
}

.form-control:focus {
  border-color: initial !important;
}

button.disabled {
  cursor: not-allowed;
}
